@import "tailwindcss";

@theme {
  --color-primary: #C72C41;
  --color-secondary: #0C0C0C;
  --color-secondary-bg: #0C0C0C;
  --color-bg: #020302;
}

@layer base {
  :root {
    --background: #020302;
    --foreground: #ffffff;
  }

  body {
    background-color: #020302;
    color: #ffffff;
    font-family: var(--font-poppins), sans-serif;
  }
}
